@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body, header {
    margin: 0;
}

nav {
    background-image: linear-gradient(to right,#000, #8C6489, #8C6489, #8C6489, #8C6489);
    position: fixed;
    width: 100vw;
    margin: auto;
}

ul {
    list-style: none;
    text-align: right;  
}

li {
    display: inline;
}

.link_nav {
    color: #000;
    font-size: 1vw;
    display: inline;
    padding: 20px;
    padding-right: 2vw;
}

.container {
    background-color: black;
    padding-top: 5vh;
    width: 100vw;
    height: 92vh;
}

#inicio {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
}

.image_container {
    background-image: linear-gradient(#000, #8C6489);
}

h1 {
    color: #8C6489;
    font-size: 15vw;
    line-height: 5vw;
}

h5 {
    padding-top: 10vh; 
    color: #8C6489;
    font-size: 2vw;
    text-align: center;
}

img {
    width: 48vw;
}

#sobre_mi {
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: block;

}

#descripcion {
    background-color: #8C6489;
    width: 70vw;
    margin: 5vw;
    padding: 2vw;
    font-size: 1.8vw;
}

h2 {
    color: #8C6489;
    font-size: 10vw;
    text-align: right;
    padding-right: 5vw;
}

h3 {
    color: #8C6489;
    font-size: 5vw;
    text-align: center;
    line-height: 0.1vw;
}

#contacto {
    background-color: #8C6489;
    display: flex;
    justify-content: space-between;
}

h4 {
    font-size: 8vw;
    line-height: 1vh;
}

a {
    font-size: 4vw;
    text-align: right;
    display: block;
    padding-right: 4vw;
}

.contenedor_grilla {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #8C6489;
    padding-right: 1vw;
  }

.item_grilla {
    background-color: #8C6489;
    border: 20px solid;
    padding: 5px;
    display: block;
    text-align: center;
  }

  .imagen_grilla {
    width: 10vw;
  }

  #trabajos {
    display: block;
  }

  .texto_grilla {
    font-size: 1.2vw;
  }

  #redes {
    padding-top: 50vh;
  }

  #texto_contacto {
    padding-left: 3vw;
  }