@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body {
    font-family: 'Heebo', sans-serif;
}

.secondary-font {
    font-family: 'Tektur', sans-serif;
    color: #01a0c6;
}

h1 {
    font-family: 'Tektur';
}

.bg-image-r {
    background-image: url(img/bg-r.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-image-r-auto {
    background-image: url(img/bg-r.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-l {
    background-image: url(img/bg-l.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.blue-text {
    color: #01a0c6;
}